@model studentmanager.Models.lesson

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_Default.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>lesson</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.responsible.NameResponsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.responsible.NameResponsible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameLesson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameLesson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HourLesson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HourLesson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatestartLesson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatestartLesson)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateendLesson)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateendLesson)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
