@{
    ViewBag.Title = "_Default";
}
<!DOCTYPE html>
<html lang="en">
    @RenderPage("~/Views/Partials/_Head.cshtml")
<body>
  <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
         
         @RenderPage("~/Views/Partials/_Sidebar.cshtml")

      <div class="main-wrapper">

        @RenderPage("~/Views/Partials/_Nav.cshtml")

         @RenderBody()

      </div>
    </div>
    @RenderPage("~/Views/Partials/_Script.cshtml")
</body>

</html>
