@model studentmanager.Models.responsible

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_Default.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>responsible</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameResponsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameResponsible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdressResponsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdressResponsible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailResponsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailResponsible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelephoneResponsible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelephoneResponsible)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
